version: '3.9'

services:
  qdrant:
    image: qdrant/qdrant:v1.9.0
    ports:
      - '6333:6333'
    volumes:
      - qdrant_data:/qdrant/storage
    profiles:
      - vector

  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data
    profiles:
      - cache

volumes:
  qdrant_data:
  redis_data:
